.projectItem {
  list-style: none;
}

.breadcrumbLink {
  text-decoration: none;
  transition: text-decoration var(--transition-fast);
  color: inherit;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}
